body {
    margin: 40px 0 0 0;
    background-color: #1B244A;
}

.container {
    display: flex;
    justify-content: space-around;
    text-align: center;

}

.players {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: #EEEEEE;
}

.score {
    width: 175px;
    line-height: 130px;
    background-color: #080001;
    color: #F94F6D;
    border-radius: 6px;
    font-family: 'Cursed Timer ULiL';
    font-size: 90px;
}

.scores {
    width: 45px;
    height: 45px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 10px;
    border: 2px solid #9AABD8;
    background-color: transparent;
    font-family: 'Cursed Timer ULiL';
    font-size: 20px;
    color: #9AABD8;
    cursor: pointer;
}